@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
.shopNavbar{
  color: $warning;
  font-size: 1.1rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-bottom: 20px;
}
.shopNavbar a{
  color: $warning;
  text-decoration: none;
}
.shopNavbar ul{
  display: flex;
  width:100%;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0 5px;
  margin-bottom: 0;
  list-style-type: none;
}
.shopNavbar ul li{
  padding: 10px 5px;
}

.shopNavbar ul.shop-other-info .item-icon{
  display: block;
}
.shopNavbar ul.shop-other-info .item-title{
  display: none;
}
.shopNavbar ul.shop-other-info svg{
  position:relative;
  top: -10px;
  font-size: 40px;
  color: $warning;
 }
@media screen and (min-width: 576px) {

  .shopNavbar ul.shop-other-info .item-icon{
    display: none;
  }
  .shopNavbar ul.shop-other-info .item-title{
    display: block;
  }
  .shopNavbar a:hover{
    color: #f8f8f8;
  }
}