@import '~bootstrap/scss/bootstrap.scss';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,body{
  background: url('./assets/kitchen.jpg') no-repeat center center fixed;
  background-size: cover;
}
#root{
padding-top:70px;
display:flex; flex-direction:column; min-height:100vh;
}
div{
  background: transparent;
}
